<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <img src="static/images/logo.png" alt="logo">
    </div>
    <div class="subheader">
        <ul>
            <li>Registro de Ocorrencia</li>
            <li>Historico</li>
            <li>Login</li>
            <li>Sair</li>
        </ul>
    </div>
    <h1>Pagina Inicial</h1>
    <a href="/index/login">Login</a> |
    <a href="/index/trens">Trens</a> |
    <a href="/index/linhas">Linhas</a> |
    <a href="/index/estacoes">Estacoes</a> |
    <a href="/index/mapa">Mapa</a> |
    <a href="/index/ocorrencias">Ocorrencias</a> |
    <a href="/index/horarios">Horarios</a> |
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>